:root {
  box-sizing: border-box;
  font-size: 62.5%;

  --hue: 290;

  --brand-green: hsl(var(--hue), 100%, 26%);
  --brand-green-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --brand-green-light-02: hsl(calc(var(--hue) + 10), 14%, 97%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-green-hover: hsl(var(--hue), 100%, 14%);

  --gray-headline: hsl(calc(var(--hue) - 65), 100%, 5%);
  --gray-paragraph: hsl(calc(var(--hue) - 66), 16%, 24%);
  --white: #FFFFFF;

  --nav-height: 7.2rem;
}

* {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

html {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; 
}

a {
  text-decoration: none;
}

nav {
  z-index: 99;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2.4rem;
  background-color: var(--brand-green-light);
  
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  box-sizing: border-box;
  transition: 0.5s;
}

nav a {
  transition: 0.5s;
}

.fillColor {
  fill: var(--brand-green);
}

.fillColorLight {
  fill: var(--brand-green-light);
}

.strokeColor {
  stroke: var(--brand-green);
}

nav #closeIcon {
  position: absolute;
  right: 2.4rem;
  opacity: 0;
  visibility: hidden;
}

nav.scroll {
  background-color: var(--brand-green);
}

nav.scroll a:nth-child(1) svg path {
  fill: var(--white);
}

nav.scroll a:nth-child(2) svg path {
  stroke: var(--white);
}

nav.expanded #menuIcon {
  opacity: 0;
  visibility: hidden;
}

nav.expanded #closeIcon {
  opacity: 1;
  visibility: visible;
}

.menu {
  position: absolute;
  background-color: var(--brand-green);
  height: calc(100vh - var(--nav-height));
  width: 100vw;

  top: var(--nav-height);
  left: 0;

  transition: 0.5s;
}

.menu .sections {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.sections li {
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu .socialMedia {
  margin-top: 8rem;
  
  display: flex;
  justify-content: center;
  gap: 3.2rem;
}

.menu a {
  color: var(--brand-beige);
}

.menu .button {
  background-color: var(--white);
  color: var(--brand-green);
}

.menu button {
  background-color: var(--brand-green);
}

.menuHide {
  transform: translateX(100%);
  opacity: 0%;
}

.hero {
  margin-top: var(--nav-height);
  padding: 0 2.4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-green-light);
  text-align: center;
}

.hero h4 {
  color: var(--brand-green);
  margin: 4.1rem 0 1.6rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.hero h1 {
  font-style: normal;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 2.4rem;
  color: var(--gray-headline);
}

.hero p {
  font-weight: 400;
  font-size: 1.8rem;
  font-style: normal;
  line-height: 150%;
  margin-bottom: 3.2rem;
  color: var(--gray-paragraph);
}

button {
  border: none;
  border-radius: 40px;
}

.button {
  transition: 0.5s;
  border: none;
  background-color: var(--brand-green);
  height: 5.2rem;
  padding: 0 3.2rem;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  gap: 1.6rem;
  align-items: center;
  color: var(--white);
}

.button:hover {
  background-color: var(--brand-green-hover);
  cursor: pointer;
}

.photoContainer {
  display: flex;
  margin-top: 6rem;
  padding: 0 3.2rem;
}

.photo {
  width: 100%;
}

.numbers {
  background-color: var(--brand-beige);
  width: 100%;
  border-radius: .6rem;
  border: 1px solid;
  border-color: var(--brand-green-light);
  padding: 4rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 6rem;
  z-index: 1;
}

li {
  list-style: none;
}

.numbers ul {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.numbers h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 130%;
  color: var(--gray-headline);
  margin-bottom: .3rem;
}

.numbers h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--brand-green);
}

.serviços::before {
  content: '';
  background-color: var(--brand-green-light-02);
  width: 100%;
  height: 23.5rem;
  position: absolute;
  top: -23.5rem;
}

.serviços {
  position: relative;

  background-color: var(--brand-green-light-02);
  padding: 10rem 2.4rem 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.serviços h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: var(--brand-green);
  margin-bottom: 1.6rem;
}

.serviços h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: var(--gray-headline);
  text-align: center;
  margin-bottom: 6rem;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.card {
  padding: 2.4rem;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--brand-green-light);
  border-radius: .6rem;
}

.card img {
  margin-bottom: 1.6rem;
}

.card h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;

  color: var(--gray-headline);

  margin-bottom: 1.6rem;
}

.card p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  
  color: var(--gray-paragraph);
}

.sobre {
  background-color: var(--brand-beige);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 2.4rem;
}

.sobre h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--brand-green);
  align-self: flex-start;
  margin-bottom: 1.6rem;
}

.sobre h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--gray-headline);
  margin-bottom: 2.4rem;
}

.sobre p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--gray-paragraph);
  margin-bottom: 6rem;
}

.contato {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 2.4rem;
}

.contato h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--gray-headline);
  margin-bottom: 3.2rem;
}

address {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

address svg {
  margin-right: .8rem;
}

address a {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--gray-paragraph);
}

.contato button {
  align-self: flex-start;
  margin-bottom: 6rem;
}

.backToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
  transform: translateY(0);
  z-index: 98;
}

.backToTop svg {
  /* border-radius: 40px; */
}

.backToTop.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
}

footer {
  display: flex;
  flex-direction: column;
  padding: 6rem 2.4rem;

  background-color: var(--brand-green);
}

footer .logo {
  width: 23.6rem;
  margin-bottom: 2.4rem;
}

footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: var(--brand-beige);
  margin-bottom: 1.6rem;
}

footer ul {
  margin-top: 1.6rem;
  display: flex;
  gap: 3.2rem;
}