:root {
  box-sizing: border-box;
  font-size: 62.5%;

  --brand-green: #00856F;
  --brand-green-light: #DCE9E2;
  --brand-green-light-02: #F7F9F9;
  --brand-beige: #FFFAF1;
  --brand-green-hover: #00453A;

  --gray-headline: #061800;
  --gray-paragraph: #384633;
  --white: #3E3E3E;
}

* {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

main {
  width: 37.5rem;
  margin: auto;
}